/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #c4e0f9;
    color:#2ec0f9;
  }
  
  
  h1.name{
    text-size-adjust: 30%;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    padding:20px;
    text-align:left;
  }
  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  
  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #2ec0f9;
  }

  nav{
    background-color:#B95F89;

  }
  
  header {
    position: flex;
    border-bottom: 15px solid #4F4846;
  }
  
  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #4F4846;
    color: #FDF8F5;    
  }

  
  figure {
    margin-bottom: 40px;
  }
  
  img {
    display: block;
    margin: 20px auto;
  }
   
  /* Class Selectors */
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  .text-left{
      text-algin: left;
  }
  
  .p-column{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border-right: #B95F89;
  }
  .linear-gradient-background {
    background-image: linear-gradient(
      rgba(232, 102, 236, 0.3) 0%,
      rgba(232, 102, 236, 0.6) 100%
    );
  }