header{
 background-color: #006782;
  height: 10vh;
  display:block;
}



figure{
  border: 1px solid blue;
  height: 20vh;
}

.section-title{
  display:flex;
  flex-basis: 20%;
  justify-content:center;
  border-width: 20px;
    border-right-color: black;
    border-right-width: 10px;
    border-right-style: solid;
    background-color: #187546;
    font-size: 20pt;

}

.h1{
  font-size: 20px;
  font-style: bold;
  display:flex;
}

.left {
  float: left;
  margin: 1rem;
  align-items: flex-start;
  flex-direction:initial;
}

.nav{
  display: flex;
  justify-content:flex-end;
  flex-direction:initial;

}

.nav li{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2rem;
}


.stripedbackground{
  background:
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
  radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
  linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  background-color: #840b2a;
}

.right{
  display:flex;
  justify-content:flex-end;
  flex-direction:initial;
}

#aboutMe {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #0072bb;
    color: #ffffff;
  }
  #work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #0072bb;
    color: #ffffff;
  }
  #contactMe {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #0072bb;
    color: #ffffff;
  }
  
.smaller-picture{
  flex-basis: 50%;
  border: 1px solid green;
  height: 30vh;
}

.float-left {
  float: left;
  margin-right: 25px;
  height:200px;
}

.float-right {
  float: right;
  margin-right: 25px;
  height:200px;
}